<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta http-equiv="refresh" content="0; url='localhost:4567/pizzas'" />
</head>
<body>
  <p>Your order has been successfully deleted.</p>
</body>
</html>
